02b fact landing to raw.json
{
	"name": "02b fact landing to raw",
	"properties": {
		"activities": [
			{
				"name": "landing to raw",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks_notebooks/dim_landing_to_raw",
					"baseParameters": {
						"LoadID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"container": {
							"value": "@pipeline().parameters.metadata_lookup_values.container_name",
							"type": "Expression"
						},
						"gcp_file_last_modified_time": {
							"value": "@pipeline().parameters.source_file_last_modified",
							"type": "Expression"
						},
						"raw_schema": {
							"value": "@pipeline().parameters.metadata_lookup_values.raw_schema",
							"type": "Expression"
						},
						"raw_table": {
							"value": "@pipeline().parameters.metadata_lookup_values.raw_tbl",
							"type": "Expression"
						},
						"source_file_name": {
							"value": "@pipeline().parameters.source_file_name",
							"type": "Expression"
						},
						"storage_account_name": {
							"value": "@pipeline().parameters.metadata_lookup_values.storage_account",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "landing to raw success log",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "landing to raw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks_notebooks/log_record_tbl_insert",
					"baseParameters": {
						"env": {
							"value": "@pipeline().globalParameters.env",
							"type": "Expression"
						},
						"loadId": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"logMessage": {
							"value": "@concat('copied file ',activity('landing to raw').output.runOutput[1],' to raw container out of ',activity('landing to raw').output.runOutput[0],' files from landing.')",
							"type": "Expression"
						},
						"logTimeStamp": {
							"value": "@convertFromUtc(utcNow(),'India Standard Time' ,'yyyy-MM-dd HH:mm:ss' )",
							"type": "Expression"
						},
						"pipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"status": "Success",
						"triggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "landing to raw failure log",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "landing to raw",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks_notebooks/log_record_tbl_insert",
					"baseParameters": {
						"env": {
							"value": "@pipeline().globalParameters.env",
							"type": "Expression"
						},
						"loadId": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"logMessage": {
							"value": "@activity('landing to raw').Error.message",
							"type": "Expression"
						},
						"logTimeStamp": {
							"value": "@convertFromUtc(utcNow(),'India Standard Time' ,'yyyy-MM-dd HH:mm:ss' )",
							"type": "Expression"
						},
						"pipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"status": "failure",
						"triggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"metadata_lookup_values": {
				"type": "object"
			},
			"source_file_last_modified": {
				"type": "string"
			},
			"source_file_name": {
				"type": "string"
			}
		},
		"annotations": []
	}
}